extends ./template/_base.pug

append script
	script(src="https://vrk1.ttk.ru/cam/playerjs-10.23.js?v1")
	script(src="./scripts/ajax.js")

append styles-link
	//- link(rel="stylesheet", href="./libs/slick.css")


append content
	.row--cam
		.col.col--video
			.caption
				h1 
					a.btn-icon-min(href="/site/default/")
						img(src="/images/svg/enter.svg")
					| Камера 2
		.col.col--statistic

			nav.nav.nav--statistic
				.btn-group
					#btn-video.active.btn-toggle
						img(src='images/svg/camera.svg')
						span Камера
					a#btn-statistics.btn-toggle(href="/statistic_1.html")
						img(src='images/svg/stat.svg')
						span Статистика
	.row--cam
		.col.col--video
			.video#player6(data-url="https://vrk2.ttk.ru:8082/live/stream6/playlist.m3u8" data-mask=1)
		.col.col--statistic
			p Время нахождения колесной пары на стенде
			.static-table__wrap
				table.tbl-small-legend.table--statistic
					thead
						tr.text--center
							th &Ncy;&acy;&chcy;&acy;&lcy;&ocy;
							th &Kcy;&ocy;&ncy;&iecy;&tscy;
							th &Dcy;&lcy;&icy;&tcy;.
							th
					tbody.js__statis-body
						tr.js__stat-row(data-row='147')
							td 22.11.2019
								br
								| 16:05:04
							td
							td.text--right 10:41
							td.text--center
								img(src='images/svg/ok.svg' style='width: 18px;')
						tr.js__stat-row(data-row='146')
							td 22.11.2019
								br
								| 15:57:15
							td 22.11.2019
								br
								| 16:04:52
							td.text--right 7:37
							td.text--center
								img(src='images/svg/warn.svg' title='Норматив нарушен' style='width: 18px;')
						tr.js__stat-row(data-row='145')
							td 22.11.2019
								br
								| 15:45:35
							td 22.11.2019
								br
								| 15:56:59
							td.text--right 11:24
							td.text--center
								img(src='images/svg/warn.svg' title='Норматив нарушен' style='width: 18px;')
						tr.js__stat-row(data-row='144')
							td 22.11.2019
								br
								| 15:19:33
							td 22.11.2019
								br
								| 15:40:09
							td.text--right 20:36
							td.text--center
								img(src='images/svg/ok.svg' style='width: 18px;')
						tr.js__stat-row(data-row='143')
							td 22.11.2019
								br
								| 15:08:29
							td 22.11.2019
								br
								| 15:19:00
							td.text--right 10:31
							td.text--center
								img(src='images/svg/warn.svg' title='Норматив нарушен' style='width: 18px;')
						tr.js__stat-row(data-row='142')
							td 22.11.2019
								br
								| 14:54:02
							td 22.11.2019
								br
								| 15:08:00
							td.text--right 13:58
							td.text--center
								img(src='images/svg/warn.svg' title='Норматив нарушен' style='width: 18px;')
						tr.js__stat-row(data-row='141')
							td 22.11.2019
								br
								| 14:48:26
							td 22.11.2019
								br
								| 14:53:38
							td.text--right 5:12
							td.text--center
								img(src='images/svg/warn.svg' title='Норматив нарушен' style='width: 18px;')
						tr.js__stat-row(data-row='140')
							td 22.11.2019
								br
								| 14:36:53
							td 22.11.2019
								br
								| 14:47:56
							td.text--right 11:03
							td.text--center
								img(src='images/svg/warn.svg' title='Норматив нарушен' style='width: 18px;')