extends ./template/_base.pug

append script
	script(src="https://vrk1.ttk.ru/cam/playerjs-10.23.js?v1")
	script(src="./scripts/ajax.js")

append styles-link
	//- link(rel="stylesheet", href="./libs/slick.css")


append content
	.row--cam
		.col.col--video
			.caption
				h1
					a.btn-icon-min(href="/site/default/")
						img(src="/images/svg/enter.svg")
					| Камера 2
		.col.col--statistic

			nav.nav.nav--statistic
				.btn-group
					#btn-video.active.btn-toggle
						img(src='images/svg/camera.svg')
						span Камера
					a#btn-statistics.btn-toggle(href="/statistic_1.html")
						img(src='images/svg/stat.svg')
						span Статистика
	.row--cam
		.col.col--video
			.video#player6(data-url="https://vrk2.ttk.ru:8082/live/stream6/playlist.m3u8" data-mask=1)
		.col.col--statistic
			p Время нахождения колесной пары на стенде
			.static-table__wrap
				table.tbl-small-legend.table--statistic
					thead
						tr.text--center
							th
								a(href='javascript:;').asc &Ncy;&acy;&chcy;&acy;&lcy;&ocy;
							th
								a(href='javascript:;').desc &Kcy;&ocy;&ncy;&iecy;&tscy;
							th &Dcy;&lcy;&icy;&tcy;.
							th
					tbody.js__statis-body(data-camera="9949")
