extends ./template/_base.pug
		
append script
	//- script(src="../libs/order_form.js")
	//- script(src="./libs/jquery.stellar.min.js")

append styles-link
	//- link(rel="stylesheet", href="./libs/slick.css")


append content
		
	main.main.index-page
		.container
			.video#video-block
				video#video( controls loop autoplay)
					source(src="./media/Sample_Videos_2.mp4")