extends ./template/_base.pug

append script
	script(src="https://vrk1.ttk.ru/cam/playerjs-10.23.js?v1")
	//- script(src="./libs/jquery.stellar.min.js")

append styles-link
	//- link(rel="stylesheet", href="./libs/slick.css")


append content

	h1 
		a.btn-icon-min(href="/accordeon.html")
			img(src="/images/svg/enter.svg")
		| Камеры

	table.tbl-click
		thead
			tr
				th Название камеры
				th.text--center Номер камеры
				th.text--center Участок
				th.text--center Видео
				th.text--center Статус
		tbody
			tr(data-url="cam_1.html")
				td Camera 1
				td.text--center 9944
				td.text--center Участок 3
				td.text--center
					img(src='images/svg/video-camera.svg' title='Камера включена' style='width: 18px;')
				td.text--center
					img(src='images/svg/ok.svg' style='width: 18px;')
			tr(data-url="cam_1.html")
				td Camera 2
				td.text--center 9945
				td.text--center Участок 2
				td.text--center
					img(src='images/svg/video-camera.svg' title='Камера включена' style='width: 18px;')
				td.text--center
					img(src='images/svg/ok.svg' style='width: 18px;')
			tr(data-url="cam_1.html")
				td Camera 3
				td.text--center 9946
				td.text--center Участок 5
				td.text--center
					img(src='images/svg/video-camera.svg' title='Камера включена' style='width: 18px;')
				td.text--center
					img(src='images/svg/ok.svg' style='width: 18px;')
			tr(data-url="cam_1.html")
				td Camera 4
				td.text--center 9947
				td.text--center Участок 4
				td.text--center
					img(src='images/svg/video-camera.svg' title='Камера включена' style='width: 18px;')
				td.text--center
					img(src='images/svg/ok.svg' style='width: 18px;')
			tr(data-url="cam_1.html")
				td Camera 5
				td.text--center 9948
				td.text--center Участок 1
				td.text--center
					img(src='images/svg/video-camera.svg' title='Камера включена' style='width: 18px;')
				td.text--center
					img(src='images/svg/warn.svg' style='width: 18px;')
			tr(data-url="cam_1.html")
				td Camera 6
				td.text--center 9949
				td.text--center Участок 6
				td.text--center
					img(src='images/svg/video-camera.svg' title='Камера включена' style='width: 18px;')
				td.text--center
					img(src='images/svg/ok.svg' style='width: 18px;')

