header
	nav.topbar
		.container
			img.logo(src='/images/logo.svg' alt='')
			p Видеонаблюдение и Видеоаналитика
			.account
				p Иванников Виталий
				a(href='/logout')
					img(src='/images/svg/logout.svg' alt='Выход')
nav.navbar
	.container
		.nav.nav-tabs
			.nav-item.active
				a(href='/') Мониторинг техпроцесса
			.nav-item
				a(href='javascript:;') Контроль ТБ ВРК-1
			.nav-item
				a(href='javascript:;') Третья
