//- include ../mixins/mixins.pug
doctype html
html(lang="ru")
	head
		title= pageTitle
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="./images/favicon.ico" type="image/x-icon" rel="shortcut icon")
		link(rel="stylesheet", href="./styles/main.css")

		block styles-link
	body

		.page-wrap
			include ../block/header.pug
			main
				.container.container--main
					.bread-crumbs
						a(href='javascript:;') Главная
						|  \  
						a(href='javascript:;') Сраница раздела
						|  \  
						| Текущая страница

					block content
		block footer-block

		script(src="./libs/jquery-3.3.1.min.js")
		block script
		script(src="./scripts/script.js")
