$mw_d: 1200px
$mw_c: 960px
$mw_b: 700px
$mw_a: 460px

$red: #df3b3b
$grafit: #313234
$gray_1: #58586A
$gray_2: #7F8390
$gray_3: #4a4a4a
$gray_4: #bdbdbd

.text--center
	text-align: center

.text--right
	text-align: right

.video
	font-size: 0
	width: 100%
	video
		width: 100%
main
	margin-top: 40px

.tbl-click
	margin-top: 40px
.table--statistic
	margin-top: 20px
.tbl-click,
.table--statistic
	background-color:#fff
	border: 1px solid #c6c7d2
	border-collapse: collapse

	thead
		background-color: #f2f2f2

	td,
	th
		// border-collapse: 0
		border-top: 1px solid #c6c7d2
		border-bottom: 0
		border-right: 0
		border-collapse: collapse

		&:not(:first-child)
			border-left: 1px solid #c6c7d2

.row--cam
	display: flex
	width: 100%
	margin-top: 30px
.col--video

	flex-grow: 2
.col--statistic
	margin-left: 20px
.table--statistic

.statistic__image
	background: #fff
	padding: 15px

	img
		max-width: 100%